{%extends '../base/base.html'%} 
{% block content%}
<div class="row align-items-center justify-content-center">
    <!--LOGIN CARD-->
    <div class="col-12 col-sm-9 col-md-7   col-lg-6 col-xl-5 col-xxl-4    " >
        <div class="card ">
            <img src="media/posts/default.jpg" alt="{{companyName}} logo" class="card-img-top  bg-warning ">
            <div class="card-body p-5">
                <h4 class="card-title text-success text-center">WELCOME BACK</h4>
                <hr>
                    <form method = 'POST' class=" text-success text-start">

                        {% csrf_token %}
                        {%for field in loginForm%}
                        {{ field.label }}
                        {{ field }}
                        <br>
                        {% endfor %}
                        <p class="form-control bg-danger-subtle {%if not error_msg %} d-none {%endif%}" role="alert">
                            {{error_msg}}
                          </p>
                        

                       
                        <br>
                        <button style="width: 100%;" type="submit" class="btn btn-outline-success rounded rounded-5 btn-lg">
                            
                            <span class  = "d-none d-sm-block">__| Login |__</span> 
                            <span class  = "d-sm-none">Login</span> 
                        
                        </button>
                        
                        <br>
                        <br>
                      
                    </form>
                      <!--FORGET AND HAVE NO ACCOUNT BUTTON-->
                        <div class="text-start d-flex  justify-content-center">
                            <a class=" me-3 btn btn-outline-primary rounded rounded-5  " href="{%url 'pwdreset_request'%}"> 

                                <span class  = "d-none d-sm-block">Forget password</span> 
                                <span class  = "d-sm-none">Forget</span> 

                            </a>
                            
                            <a class="me-3 btn btn-outline-primary rounded rounded-5   " href="{%url 'signup'%}"> 
                                <span class  = "d-none d-sm-block">Have no account ?</span> 
                                <span class  = "d-sm-none">Signup</span> 
                            
                            </a>
                        </div><!--END OF FORGET HAV NO ACCOUNT BUTTON -->
                    
                



            </div>
        </div>
    </div><!--END OF login CARD COLUMN-->


    <!--befit of creating an account -->
    <div class="col-md-5  col-xl-6   col-xxl-7  mt-5 d-none d-md-block position-relative">
           <p class="display-1 text-center ">SOMETHING</p> 
    </div><!--END OF BENEFIT OF CREATING ACCOUNT-->
</div>
{% endblock content %}   