<div class="navbar-brand dropdown me-3">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <!-- <i class="fa-solid fa-user pe-1"></i> -->
      <img
        style="width: 40px; height: 40px"
        class="rounded-circle account-img"
        src="{{ request.user.profile.avatar.url }}"
      />
      <p>
        {{request.user.first_name}}
      </p>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="{%url 'profile'%}">Profile</a>
      </li>
      <li>
        <a class="dropdown-item" href="{%url 'logout' %}">Logout</a>
      </li>
      <li><a class="dropdown-item" href="#">Theme</a></li>
    </ul>
</div>