<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JanPost</title>
</head>

<body style="font-family: 'Times New Roman', Times, serif;">
<table cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: rgb(217, 216, 216); margin: 4% 10%; border-bottom: outset 6px rgb(11, 125, 170); border-radius: 0 30px;">
    <tr>
        <td>
            <div style="color: rgb(1, 101, 189); background-color: rgba(159, 214, 240, 0.863); padding: 1px 20px; border-bottom: inset 3px rgb(7, 111, 163); border-top-right-radius: 30px;">
                        <h2 >Password Reset</h2>
            </div>
            <div style="padding: 5%; font-size:larger">
                        <p>Hey there!, </p>

                        <p>We received a request to reset your password. If you initiated this, click the link/Button below to choose a new strong password.If you didn't request a password reset, you can safely disregard this email. Your account remains secure. </p>

            <br>
                        <a title="Reset" href="{{ protocol}}://{{ domain }}{% url 'pwdreset' uidb64=uid token=token %}" 
                        style="text-decoration: none; background-color: rgb(0, 136, 215); color: rgb(255, 255, 255); 
                        font-size: larger; margin-y: 5%; padding: 0.5% 3%;">Reset</a>
                        
            </div>
            <hr>
            <h4 style="padding-left: 10px; width: 90%; text-align: center; font-style: italic; color: rgb(70, 80, 80);">From <i>JanPost:</i></h4>
        </td>
    </tr>
</table>
</body>
</html>


