{%extends '../base/base.html'%} 
{% block content%}
<div class="row align-items-center justify-content-center">
    <!--LOGIN CARD-->
    <div class="col-9 col-md-7  col-lg-6 col-xl-5">
        <div class="card ">
            <img src="media/posts/default.jpg" alt="hulu-logo" class="card-img-top  bg-warning ">
            <div class="card-body p-5">
                <h4 class="card-title text-success text-center">Accont Reseting </h4>
                <hr>
                    <form method = 'POST' class=" text-success text-start">

                        {% csrf_token %}
                        {%for field in form%}
                        {{ field.label }}
                        {{ field }}
                        <div class="alert alert-danger py-0 mt-2 " role="alert">
                            {{ field.errors }}
                        </div>

                        {% endfor %}
                        <p class="form-control bg-danger-subtle {%if not error_msg %} d-none {%endif%}" role="alert">
                            {{error}}
                            
                          </p>
                        

                       
                        <br>
                        <button style="width: 100%;" type="submit" class="btn btn-outline-success btn-lg">__| Sent request |__</button>
                        
                        <br>
                        <br>
                      
                    </form>
                      <!--FORGET AND HAVE NO ACCOUNT BUTTON-->
                      <div class="text-start d-flex justify-content-center">
                        <a class="text-secondary me-3 " href="{%url 'login'%}"> I get my  password</a>

                        <a class="text-secondary " href="{%url 'signup'%}"> have no account ? </a>
                    </div><!--END OF FORGET HAV NO ACCOUNT BUTTON -->
                    
                



            </div>
        </div>
    </div><!--END OF login CARD COLUMN-->


    <!--befit of creating an account -->
    <div class="col-md-5 ps-lg-6  mt-5 d-none d-md-block position-relative">
           <p class="display-1 text-center ">SOMETHING</p> 
    </div><!--END OF BENEFIT OF CREATING ACCOUNT-->
</div>
{% endblock content %}   