{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="darkf">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- bootstrap cdn -->
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--font awsom cdn-->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
    <!--custom css-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">

    
</head>
<body>

        {% block navbar %}
            <!-- Navbar content goes here -->
        {% endblock %}
        <main>

                {% block landingIntro %}
                    <!-- Landing intro content goes here -->
                {% endblock %}
            
                {% block sideBar %}
                    <!-- Sidebar content goes here -->
                {% endblock %}

                {% block content %}
                    <!-- Main content goes here -->
                {% endblock %}
         </main>
          {% comment %} <footer >
            
            
            <!-- place footer here -->
        </footer> {% endcomment %}


    <!--bootstrap cdn -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- htmx -->
    <script src="{% static 'js/htmx.min.js' %%}"></script>
    <script src="{% static 'js/sidebars.js' %%}"></script>

</body>
</html>


