{% load static%}
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      
      <img src="{% static 'img/logo.png' %}" class="  img-fluid navbar-brand" width="30" height="15" alt="logo">
      <a href = "{% url 'landingPage'%}" class="mb-3 mb-md-0 text-muted ps-2">&copy; 2024 <span class = "d-none d-md-inline">{{companyName}}</span>, Inc</a>
    </div>
    <a href="#" class="mb-0 d-flex flex-column text-center">
      <i class="fa-solid fa-caret-up"></i>
		   <small  class >Back to top</small>
	  </a>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" target = "blank" href="https://www.linkedin.com/in/yosef-emyayu/"><i class="fa-brands fa-linkedin"></i></a></li>
      <li class="ms-3"><a class="text-muted" target = "blank" href="https://github.com/J0-Y0/"><i class="fa-brands fa-github"></i></li>
      <li class="ms-3"><a class="text-muted" target = "blank" href="https://gitlab.com/J0-Y0"><i class="fa-brands fa-gitlab"></i></a></li>
    </ul>
  </footer>

