{% extends '../base/base.html' %}

{% load static %}

{% block navbar %}
    {% include '../base/navbar.html' %}
{% endblock %}

{% block content %}
   <div class="container   py-5">
        <br>
        <div class="search-bar ">
          <div class="dropdown-menu d-block position-static p-0 mx-0 rounded-3 shadow overflow-hidden w-100 " >
    <form class="p-2  bg-body-tertiary border-bottom">
      <input type="search" class="form-control " autocomplete="false" placeholder="Type to search...">
    </form>


    <ul class="list-unstyled mb-0 dropdown position-static d-none">
      
      <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
        <span class="d-inline-block bg-success rounded-circle p-1"></span>
        Action
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
        <span class="d-inline-block bg-primary rounded-circle p-1"></span>
        Another action
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
        <span class="d-inline-block bg-danger rounded-circle p-1"></span>
        Something else here
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
        <span class="d-inline-block bg-danger rounded-circle p-1"></span>
        Something else here
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
        <span class="d-inline-block bg-danger rounded-circle p-1"></span>
        Something else here
      </a></li>
      
    </ul>
  </div>
          <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  
  

</div>





              <nav class="navbar border   mb-2">    
                  <form class="container-fluid">
                    <div class="input-group">
                          <span class="input-group-text pe-1" type="button" title="Advanced search">
                            <img src="{% static 'img/logo.png' %}" class="img-fluid navbar-brand me-1" width="25" alt="logo">
                          </span>    
                          

                    </div>      
                  </form>
              </nav><!-- END OF SEARCH NAV BAR -->
        </div> 
        
         <div class="row justify-content-center ">
                {% for post in posts %}
                    <div class="col-lg-6 mb-2 ">
                        {% include "components/post.html" %}
                    </div>

                {% endfor %} 
            </div>
        
         
     
      
      
  </div>
  
  
{% endblock %}
