{% extends '../base/base.html' %}

{% load static %}

{% block navbar %}
    {% include '../base/navbar.html' %}
{% endblock %}

{% block content %}
   <div class="container   py-5">
        <br>
        <div class="search-bar ">
      
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  
  

        </div>





              <nav class="navbar border d-flex  mb-2">    

                    <div class="dropdown-menu d-block position-static p-0 mx-0 rounded-3  overflow-hidden w-100 " >
                        <div class="p-2  bg-body-tertiary border-bottom">
                              <div class="input-group">
                                  <span class="input-group-text pe-1" type="button" title="Advanced search">
                                    <img src="{% static 'img/logo.png' %}" class="img-fluid navbar-brand me-1" width="25" alt="logo">
                                  </span>    
                                  
                              <input type="search" class="form-control " autocomplete="false" placeholder="Type to search..."
                                 name="search" placeholder="Begin Typing To Search Users..." 
                                  hx-get="{%url 'postSearch'  %}" 
                                  hx-trigger="input changed delay:500ms, search" 
                                  hx-target=".searchResult" 

                              >






                          </div>

                        <div class = "searchResult">


                        </div>
                        
        </div>
              </nav><!-- END OF SEARCH NAV BAR -->
        </div> 
        
         <div class="row justify-content-center ">
                {% for post in posts %}
                    <div class="col-lg-6 mb-2 ">
                        {% include "components/post.html" %}
                    </div>

                {% endfor %} 
            </div>
        
         
     
      
      
  </div>
  
  
{% endblock %}
