{% extends '../base/base.html' %}

{%load static %}
<!---->
{% block navbar %}
    {%include '../base/navbar.html'%}
{% endblock %}
{% block landingIntro %}
<p class="pt-4  display-4">{{companyName}}</p>
<p class=" fs-4 text-muted ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sapiente laudantium nisi similique consectetur. Incidunt, quos sequi maxime accusantium aliquid vel debitis rerum neque, exercitationem quidem nam expedita asperiores iure.</p>
<button class="btn btn-dark rounded-5  my-2 w-auto">Start reading</button>
{% endblock %}


{%block content%}

    {% for tag  in tags %}
        <a class="btn border border-secondary rounded-5 btn-outline-dark" href="http://{{tag.slug}}">{{tag.name}}</a>
    {%endfor%}
{%endblock %} 