{% extends '../base/base.html' %}


{% block navbar %}
    {% include '../base/navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
   
    <div class="col-10">
        <div class="post-postview">
    <div class="card my-3">
      <h5 class="card-header d-flex justify-content-between">
        <a href="#" title="Author">
          <img style="width: 40px; height: 40px" class="rounded-circle account-img" src="{{post.author.profile.avatar.url}}"/>
          <p class="d-none d-sm-inline">{{post.author.first_name}} {{post.author.last_name}}</p>
        </a>

        <div class="dropdown open">
          <a class="rounded rounded-5" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</a>
          <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item" href="#"><i class="fa-solid fa-user-plus"></i> Connect</a>
            <a class="dropdown-item" href="#"><i class="fas fa-user-friends"></i> Follow</a>
            <a class="dropdown-item" href="#"><i class="fa-regular fa-id-badge"></i> Profile</a>
          </div>
        </div>
      </h5>

      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="text-secondary text-nowrap">{{post.published_date}}</p>
        </div>
        <p class="card-text">{{post.content}}</p>
      </div>
      <img src="{{post.image.url}}" class="card-img-top"/>
      
      <div class="card-footer p-0 d-flex justify-content-between">
        <p class="text-secondary ps-2">Posted {{ post.time_difference }} ago</p> 
        <button class="btn rounded-0"><i class="fa-regular fa-thumbs-up"></i> 444</button>
        <button class="btn rounded-0"><i class="fa-regular fa-thumbs-down"></i> 444</button>
        <button class="btn rounded-0"><i class="fa-solid fa-comment-dots"></i> 444</button>
        <a class="btn rounded-0" href="{% url 'postDetail' post.slug %}">Read more</a>
        <button title="Report this post" class="btn text-end text-warning rounded-0 border-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"><i class="fa-solid fa-triangle-exclamation"></i></button>
      </div>
    </div>
  </div>
      
    </div>
    <div class="col-2  border-bottom-0 border-top-0  border-right-0 border-start-4">
      lklkl
    </div>
  </div>
</div>


{% endblock %}
