<div class=" post">
  
{% comment %} {%include '../blog/author_profile.html'%} {% endcomment %}
    
  </div>
  <div class=" post-postview">
    <div class="card my-3">
      <img src="{{post.image.url}}" class="card-img-top"/>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="text-secondary">{{post.published_date}}</p>
        </div>
        <p class="card-text">{{post.content|truncatewords:100}}</p>

      </div>
       
        <div class="card-footer p-0 d-flex justify-content-between">
        

          <p class = "text-secondary ps-2">Posted  {{post.time_difference}} ago</p>
          <div class="btn-group" role="group" aria-label="Basic example">

              <button class="btn btn-primary rounded-0"><i class="fa-regular fa-thumbs-up"></i> 444</button>
              <button class="btn btn-primary rounded-0"><i class="fa-regular fa-thumbs-down"></i> 444</button>
              <button class="btn btn-primary rounded-0"><i class="fa-solid fa-comment-dots"></i> 444</button>

              
             

        
              <a class="btn btn-primary rounded-0" href="{% url 'post_single' post.id %}">Read more </a>             
             
              <button title ='report this post' class="ms-1 btn btn-primary text-warning rounded-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" ><i class="fa-solid fa-triangle-exclamation"></i> </button>

        </div>
        </div>
    </div>

  </div>
</div>



<!-- Report  Modal -->
<div class="modal  fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-success">
        <h1 class="modal-title fs-5" id="staticBackdrop2Label">Reporting</h1>
        <button type="button" class="btn-close text-bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-4 pt-4">
        <form method="get" >
          {% for field in reportForm%} 
              <b class = "pt-3 text-secondary ">{{field.label}}</b>
              
              {{field}}

              {%endfor%}
          <div class="btn-group mt-5 w-100" role="group" aria-label="Basic example">
            <button class="btn btn-primary  " type="submit">
            Send report
            </button>
          {% comment %} <button  class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button> {% endcomment %}
          
       
        </div>
        <br>
          <hr>
            <p class = "text-secondary text-center mb-0 ">Thankyou for telling us the abuse</p>

      </form>

      </div>
      
    </div>
  </div>
</div> 

