{% extends '../base/base.html' %}
{% block navbar %}
{% include '../base/navbar.html' %}
{% endblock %}


{% block content %}

<div class=" container-fluid  ps-md-5">
  <div class="row justify-content-center g-5">

    <div class=" col-md-8 pe-md-3 pt-4">
      <div class="post-postview">
        <div class="cadrd post-content ">
          <h5 class="card-header d-flex justify-content-between">
            <a href="#" title="Author">
              <img style="width: 40px; height: 40px" class="rounded-circle account-img"
                src="{{post.author.profile.avatar.url}}" />
              <p class="d-inline">{{post.author.first_name}} {{post.author.last_name}}</p>
            </a>

            <div class="dropdown open">
              <a class="rounded rounded-5" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">...</a>
              <div class="dropdown-menu" aria-labelledby="triggerId">
                
                <a class="dropdown-item" href="#"><i class="fa-solid fa-user-plus"></i> Connect</a>
                <a class="dropdown-item" href="#"><i class="fas fa-user-friends"></i> Follow</a>
              </div>
            </div>
          </h5>

          <div class="card-body mt-3  ">
              <h5 class="card-title h3">{{post.title}}</h5>
          <p class="text-secondary text-nowrap">{{post.published_date}} | {{ post.time_difference }} ago </p>
            <p class=" card-text text-muted fs-4">{{post.content}}</p>
          </div>
          <img src="{{post.image.url}}" class="card-img-top" />
           
          <div class="card-footer p-0 bg-body-tertiary">
           {%include '../components/post_reaction.html' %}
          </div>
        </div>
      </div>

    </div><!--end of main content-->


    <div class="col-md-4 border-2 border-start ">
      <div class="mb-3">
        <input
          type="text"
          class="form-control rounded rounded-5"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Search"
        />
      </div><!-- endof search field -->

      <div class = "  ">
              <p class="h5 text-muted p-2">
              Related Posts  <hr >
            </p>
            {%for post in relatedPost%}
            <div class = "related-post "> 
                <a href="#" title="Author">
                      <img style="width: 40px; height: 40px" class="rounded-circle account-img"
                        src="{{post.author.profile.avatar.url}}" />
                  <p class="author d-inline">{{post.author.first_name}} {{post.author.last_name}} </p>
                    
                    </a>
                    <br>
                    <div class = "ps-5">               
                      
      
                      <a href = "{% url 'postDetail' post.slug %}" class="title  h5 text-muted">{{post.title}} </a>
                      <i class=" text-muted"> @{{post.published_date}} </i>
                    </div>
                  <br> 
            </div>
            {%endfor%}

      </div><!-- endof related post -->
      <div>
                
              <p class="h5 text-muted p-2 mt-5">
                Posts published by {{post.author.first_name}} {{post.author.last_name}} <hr >
              </p>
              {%for post in authorsPost%}
              <div class = "related-post "> 
                   <a href="#" title="Author">
                        {% comment %} <img style="width: 40px; height: 40px" class=" rounded-circle account-img"
                          src="{{post.author.profile.avatar.url}}" /> {% endcomment %}
                    <p class="author d-inline">{{post.author.first_name}} {{post.author.last_name}}  </p>
                      
                      </a> 
                      <div class = "ps-3">               
                        
        
                        <a href = "{% url 'postDetail' post.slug %}" class="title  h5 text-muted">{{post.title}} </a>
                        <i class=" text-muted d-block"> Published {{post.time_difference}} ago</i>
                      </div>
                    <br> 
              </div>
              {%endfor%}
      </div><!-- endof authors other post -->
     
    </div>
  </div>
</div>






{% endblock %}