{% extends '../base/base.html' %}
{% block navbar %}
{% include '../base/navbar.html' %}
{% endblock %}


{% block content %}

<div class=" container-fluid  ps-md-5">

		  <div class="row g-5">
			<div class="col-md-8">
		

			  <article class="blog-post">
				<h2 class="h1 link-body-emphasis mb-1">{{post.title}}</h2>
				<p class="blog-post-meta">{{post.published_date}} | {{post.time_difference}} ago, by  <a href="#">{{post.author.first_name}} {{post.author.last_name}}</a></p>
        <hr>
        <p>{{post.content}}
               

        </p>
           {%include 'components/post_reaction.html'%}

        </article>

			  <article class="blog-post">
				<h2 class="display-5 link-body-emphasis mb-1">New feature</h2>
				<p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

				<p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
				<ul>
				  <li>First list item</li>
				  <li>Second list item with a longer description</li>
				  <li>Third list item to close it out</li>
				</ul>
				<p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
			  </article>

			  <nav class="blog-pagination" aria-label="Pagination">
				<a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
				<a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
			  </nav>

			</div>

      
			<div class="col-md-4">
       
			  <div class="position-sticky" style="top: 2rem;">
           <div class="mb-3">
          <input
            type="text"
            class="form-control rounded rounded-5"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Search"
          />
        </div><!-- endof search field -->
				<div class="p-4 mb-3 bg-body-tertiary rounded">
				  <h4 class="fst-italic">Tags</h4>
				  
				  <ol class="list-unstyled mb-0 p-4">
                        {% for tag in post.tags.all %}
                        <a class="btn border border-secondary rounded-5 btn-outline-dark"
                            href="{% url 'postsInTag' tag.slug %}">{{tag.name}}</a>
                        {%endfor%}
				  </ol>
				</div>
          

				<div>
				  <h4 class="fst-italic">Related posts</h4>
				  <ul class="list-unstyled">
					    {%for post in relatedPost%}
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{%url 'postDetail' post.slug%}">
                <img src="{{post.image.url}}" class="bd-placeholder-img" width="100%" height="96" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="col-lg-8">
                  <h5 class="mb-0">{{post.title|truncatechars:50}}</h5>
                  <small class="text-body-secondary">{{post.published_date}}</small>
                </div>
                </a>
              </li>
              {%endfor%}
            

          
					

				  </ul>
				</div>


        <div>
                
              <h4 class="fst-italic">
                Posts published by {{post.author.first_name}} {{post.author.last_name}} <hr >
              </h4>
              {%for post in authorsPost%}
              <div class = "related-post "> 
                   <a href="#" title="Author">
                        {% comment %} <img style="width: 40px; height: 40px" class=" rounded-circle account-img"
                          src="{{post.author.profile.avatar.url}}" /> {% endcomment %}
                    <p class="author d-inline">{{post.author.first_name}} {{post.author.last_name}}  </p>
                      
                      </a> 
                      <div class = "ps-3">               
                        
        
                        <a href = "{% url 'postDetail' post.slug %}" class="title  h5 text-muted">{{post.title}} </a>
                        <i class=" text-muted d-block"> Published {{post.time_difference}} ago</i>
                      </div>
                    <br> 
              </div>
              {%endfor%}
      </div><!-- endof authors other post -->
			



				<div class="p-4">
				  <h4 class="fst-italic">Elsewhere</h4>
				  <ol class="list-unstyled">
					<li><a href="#">GitHub</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Facebook</a></li>
				  </ol>
				</div>
			  </div>
			</div>
		  </div>

</div>






{% endblock %}