<div class="card m-3">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="text-secondary">{{post.published_date}}</p>
    </div>
    <p class="card-text">{{post.content}}</p>

    <div class="d-flex justify-content-between">
      <a
        class="btn btn-primary rounded-1"
        href="{% url 'post_single' post.id %}"
        >read more</a
      >
      <div class="d-flex">
        <p class="text-secondary px-1">comment:{{post.comments|length}}</p>
        <p class="text-secondary px-1">up:{{post.comments|length}}</p>
        <p class="text-secondary px-1">down:{{post.comments|length}}</p>
      </div>
    </div>
  </div>
</div>
