<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <b>JanPost</b> </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
          <span class="navbar-text"> Navbar text with an inline element </span>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-8">
        <div class="card" style="width: 40rem">
          <img
            class="card-img-top"
            src="https://picsum.photos/id/{{post.id}}4/200/100"
          />
          <div class="card-body">
            <div class="col-12 h4">{{post.title}}</div>
            <hr />
            <div class="col-12">{{post.content}}</div>
            <hr />
            {% for comment in comments %}
            <div class="col-12">
              {{comment.name}} | ----{{comment.published_date}}|
              {{comment.content}}
            </div>
            {%endfor%}
            <hr />
            <form method="POST">
              {% csrf_token %} {{commentForm.as_p }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
