{% extends 'base.html' %} {% load mptt_tags %} {% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="text-secondary">{{ post.title }}</h4>
    <hr />
    <p>{{ post.content }}</p>
    <h5 class="text-secondary">{{ comments|length }} comments</h5>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {% recursetree comments %}
      <div class="accordion-item my-1">
        <div class="accordion-header d-flex justify-content-between">
          <b>{{ node.name }}</b>
          <p>{{ node.content }}</p>
          <p>{{ node.published_date }}</p>

          <button
            class="accordion-button collapsed w-25"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapse{{ node.id }}"
            aria-expanded="false"
            aria-controls="flush-collapse{{ node.id }}"
          >
            reply
          </button>
        </div>
        <div
          id="flush-collapse{{ node.id }}"
          class="accordion-collapse collapse"
          aria-labelledby="flush-heading{{ node.id }}"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="parent" value="{{ node.id }}" />
              <div class="mb-3">
                <label for="id_name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="id_name"
                  name="name"
                  maxlength="50"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="id_email"
                  name="email"
                  maxlength="50"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="id_content" class="form-label">Content</label>
                <textarea
                  class="form-control"
                  id="id_content"
                  name="content"
                  rows="3"
                  required
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Reply</button>
            </form>
          </div>
        </div>
      </div>
      {% if not node.is_leaf_node %}
      <div class="ps-3">{{ children }}</div>
      {% endif %} {% endrecursetree %}
    </div>
  </div>
</div>
<div class="card-body">
  <form method="POST">
    {% csrf_token %} {{ commentForm.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}
