<div class=" post">
 

  <div class="post-postview">
    <div class="card my-3">
      <h5 class="card-header d-flex justify-content-between">
        <a href="#" title="Author">
          <img style="width: 40px; height: 40px" class="rounded-circle account-img" src="{{post.author.profile.avatar.url}}"/>
          <p>{{post.author.first_name}} {{post.author.last_name}}</p>
        </a>

        <div class="dropdown open">
          <a class="rounded rounded-5" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</a>
          <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item" href="#"><i class="fa-solid fa-user-plus"></i> Connect</a>
            <a class="dropdown-item" href="#"><i class="fas fa-user-friends"></i> Follow</a>
            <a class="dropdown-item" href="#"><i class="fa-regular fa-id-badge"></i> Profile</a>
          </div>
        </div>
      </h5>

      <div class="card-body">
        <div class="d-flex justify-content-between flex-column">
          <a class="" href="{% url 'postDetail' post.slug %}"><h5 class="card-title">{{post.title}}</h5></a>
          
          <p class="text-secondary text-nowrap">{{post.published_date}} | {{ post.time_difference }} ago </p>
        </div>
        <p class="card-text">{{post.content|truncatechars:500}} <a class="" href="{% url 'postDetail' post.slug %}">>></a></p>
      </div>
      <img src="{{post.image.url}}" class="card-img-top"/>
      
      <div class="card-footer p-0 d-flex justify-content-between">
        <div id = "active-view">
          <div class = "d-flex justify-content-between">
    

              <button class="btn text-nowrap rounded-0 "
                    hx-get="{% url 'likePost' post.id %}"
                    hx-trigger="click"
                                
                    >
                    {% if not request.user in post.liked.all %} 
                                  <i class="fa-regular fa-thumbs-up"></i> {{post.liked.all|length}}</button>
                    {%else%} 
                                  <i class='fa-solid fa-thumbs-up'></i> {{post.liked.all|length}}</i> 
                    {%endif%} 
              </button>

              <button class="btn text-nowrap rounded-0"
                    hx-get="{% url 'dislikePost' post.id %}"
                    hx-trigger="click"
                    >
                    {% if not request.user in post.disliked.all %} 
                                  <i class="fa-regular fa-thumbs-down"></i> {{post.disliked.all|length}}</button>
                    {%else%} 
                          <i class='fa-solid fa-thumbs-down'></i> {{post.disliked.all|length}}</i> 
                    {%endif%} 
              </button>
              <button class="btn text-nowrap rounded-0" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-comment-dots">

              </i> {{post.comments.all|length}}</button>



              <button class="btn text-nowrap rounded-0" 
                                hx-get="{% url 'savePost' post.id %}"
                                hx-trigger="click"
                                >
                              
                              {% if not request.user in post.favorite.all %} 
                                  <i class="fa-regular fa-bookmark"></i>  Save &nbsp
                              {%else%} 
                                  <i class='fa-solid fa-bookmark'></i> Saved
                                {%endif%} 
                              
                          
              </button>           
              <button title="Report this post" class="btn text-end text-warning rounded-0 border-0" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop_{{post.id}}"><i class="fa-solid fa-triangle-exclamation"></i></button>



            </div>

      </div>
    </div>
    </div>
  </div>
</div>


<!-- Report Modal -->

{%include '../base/reportModal.html'%}