<div class="post">
  {% comment %} {%include '../blog/author_profile.html'%} {% endcomment %}
</div>

<div class="post-postview">
  <div class="card my-3">
    <img src="{{ post.image.url }}" class="card-img-top"/>
    <div class="card-body">
      <div class="d-flex justify-content-between flex-column">
        <a class="card-title h5 text-muted" href = "{%url 'postDetail' post.slug %}">{{ post.title }}</a>
        <p class="text-secondary text-nowrap">{{ post.published_date }}</p>
      </div>
      <p class="card-text">{{ post.content|truncatechars:500 }}</p>

    </div>
    <div class="card-footer p-0  d-flex justify-content-between">
     {%include '../components/post_reaction.html' %}
    </div>
  </div>
</div>
